.contact {
    padding: 6.25rem 1.25rem;
}
.textarea, input {
    width: 100%;
    padding: 0.87rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem ;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    padding-left: 1.12rem;
    font-size: 0.81rem;
    background: transparent;
    color: #499557;
}
.textarea:focus,
input:focus {
    outline:0;

}
.half-row {
    width: 50%;
    float: left;
}

.contact-name {
    padding-right: 0.94rem;
    box-sizing: border-box;
}
.contact-amail {
    padding: left 0.94rem; 
}
.contact__send {
    margin-top: 1.87rem;
}